body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.884), #000000);
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-logo img {
    height: 50px;
}

.header-logo h1 {
    font-size: 25px;
    color: white;
    margin: 5px 0;
}

.header-logo a {
    text-decoration: none;
}
.header-logo h1:hover {
    color: lightgray;
}
.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    font-size: 25px;
    
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav a:hover {
    color: lightgray;
}

/* Header */

/* Footer */
.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}
/* Footer */

/* Galeria de slides */
.galleryslide {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-top: 0%;
    display: flex;
}

.galleryslide-images {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
}

.galleryslide-images img {
    flex: 1 0 100%;
    width: 100vw;
    height: auto;
    scroll-snap-align: start;
    object-fit: cover;
}

.galleryslide-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.galleryslide-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #333;
}

.galleryslide-nav a:hover {
    background-color: #555;
    opacity: 75%;
}

.galleryslide-title {
    font-family: "Rubik", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 4rem;
    max-height: 100px;
}

/* Galeria de slides */

/* Botón */
.menu{
    text-align: center;
    margin: 2rem;
}
.menu-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: #555;
}
/* Botón */