body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.884), #000000);
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-logo img {
    height: 50px;
}

.header-logo h1 {
    font-size: 25px;
    color: white;
    margin: 5px 0;
}

.header-logo a {
    text-decoration: none;
}
.header-logo h1:hover {
    color: rgb(221, 175, 47);
}
.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    font-size: 25px;
    
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav a:hover {
    color: rgb(221, 175, 47);
}

/* footer  */
.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/* footer */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 110px  ;
}

main h2 {
    font-size: 40px;
}

main img {
    border-radius: 30px;

}

.container-images {
    padding: 30px;
    padding-bottom: 100px;
}

.container-images .images img {
    padding: 10px;

}

.container-comments .comments .comment p {
    padding: 20px;    
}
.container-comments .comments .comment img {
    padding: 20px;
    border-radius: 200px;
    width: 100px;
    height: 90px;
}

.container-comments .comments .comment {
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}
    
