/* Formulario de Contacto */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-self: center;
    background-color: rgb(233, 231, 227);
}

body {
    background-image: url("../formcontact/imagenes/istockphoto-624697496-612x612.jpg");
    background-size: cover ;
    background-position: center center;
    background-attachment: fixed;
}

form .back {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(36, 40, 100, 0.788);
    background-color: rgba(184, 187, 238, 0.788);
}

form a {
    text-decoration: none;
}

form .back:hover {
    background-color: rgba(27, 42, 247, 0.808); 
    color: rgb(255, 255, 255);
}

form { 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    box-shadow: 0 0 20px rgb(41, 36, 36);
    border-radius: 15px;
    text-align: center;
    width: 500px;
    background-color: white;
}

form img {
    height: auto;
}
.inputs {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
}

h1 {
   font-size: 40px;
   color: rgba(29, 34, 100, 0.884); 
}

label {
    color: rgba(36, 40, 100, 0.788);
    font-size: 20px;
    padding: 10px;
}

.inputs input, textarea {
    font-size: 15px;
    padding: 15px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: transparent;
    background-color: rgba(184, 187, 238, 0.788);
}

.inputs input::placeholder, textarea::placeholder {
    color: rgba(46, 45, 45, 0.822);
}  

.inputs .button {
    color: rgba(243, 243, 243, 0.897);
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(27, 42, 247, 0.808); 
    font-size: 18px;
}

.inputs .button:hover {
    background-color: rgba(15, 21, 112, 0.863);
}


